<launch>
  <arg name="urdf_path" default="$(env PWD)/simple6r.urdf"/>
  <group ns="ref">
    <node pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" name="jsp_gui" output="screen">
      <remap from="/joint_states" to="/joint_states_ref"/>
    </node>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp_ref" output="screen">
      <remap from="/joint_states" to="/joint_states_ref"/>
    </node>
  </group>
  <group ns="cmd">
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp_cmd" output="screen">
      <remap from="/joint_states" to="/joint_states_cmd"/>
    </node>
  </group>
  <group ns="equil">
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp_equil" output="screen">
      <remap from="/joint_states" to="/joint_states_equil"/>
    </node>
  </group>
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(env PWD)/ros/rviz/deflecomp.rviz" required="false" />
</launch>
